<html>
<head>
    <title>Simple WebSocket Server</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<h1>Hello World</h1>
<p>Project is working!</p>
<script>
    const socket = io();

    // Handle 'message' event from the server
    socket.on('message', (data) => {
        console.log('Received message:', data);
    });

    // Send a message to the server
    socket.emit('message', 'Hello, Server!');

    /*const socketS = new WebSocket('wss://ill-pear-walrus-vest.cyclic.app/media');
    socketS.onopen = () => {
        console.log('Connected to WebSocket server');
    };
    socketS.onmessage = event => {
        const message = event.data;
        console.log('Received message:', message);
    };
    socketS.onclose = () => {
        console.log('Disconnected from WebSocket server');
    };
    socketS.onerror = error => {
        console.error('WebSocket error:', error);
    };*/
</script>
</body>
</html>